- @questions.each do |question|
  .darkwell.answer.col-sm-3
    %p
      %i.icon-circle-plus= link_to "show", question
    %p= formatted_date(question.created_at)
    %h3= question.title.truncate(25, ommission: '')
    %p= question.description
