<% @questions.each do |question| %>

  <div class="well col-sm-3">
    <p><%= link_to "show", question %></p>
    <p><%= formatted_date(question.created_at) %></p>
    <h3><%= question.title.truncate(25, ommission: '') %></h3>
    <p><%= question.description %></p>
  </div>

<% end %>
